{% extends 'base.html' %} {% block title %}Welcome{% endblock title %} 

{% block content %}

<div class="row-sm p-sm-5" style="height:100%;background-image:linear-gradient(to right, gray,orange)">
    <div class="col-sm-12 p-sm-5 ">
      <p style="text-align: justify;color: black; "><b> Cultivation Advisor can become the most important aspects of precision
agriculture. Prescription farming seeks to define these criteria on a site-by-site
basis in order to address crop selection issues. While the "site-specific"
methodology has improved performance, there is still a need to monitor the
systems' outcomes. Precision agriculture systems aren't all created equal.
However, in agriculture, it is critical that the recommendations made are correct
and precise, as errors can result in significant material and capital loss.
This application will assist farmers in increasing agricultural productivity. A crop
must have adequate soil and atmospheric factors for it to grow well. So, if we
give the values which describes soil and atmospheric conditions to this
application it tells us the crop that can be grown for the give conditions.
<br> 
This web-based application will help the farmers by identifying the type of
    disease that the crop is facing using the image processing and the machine
    learning algorithm and also suggest to the farmers the type of medicine that
    should be used to solve the issue in both text and image of the medicine
    andpesticides that should be used.</b>
</p> 

</div>


{% endblock content %}