{% extends 'base.html' %} {% block title %}Crop Recommendation{% endblock title
%} {% block content %}

<div
  class="row-sm p-sm-5"
  style="
    height: 100%;
    background-image: linear-gradient(to right, gray, rgb(223, 223, 101));
  "
>
  <div class="col-sm-12 p-sm-5">
    <h3 class="text-center">Cultivation Advisor</h3>
    <h5 class="text-center">
      The crop you should plant based on your data is -
      <h5 class="text-center"><b>{{corrected_result}}</b></h5>
    </h5>
  </div>

  <style type="text/css">
    /*google translate Dropdown */
    #google_translate_element select {
      background: #f6edfd;
      color: #383ffa;
      border: none;
      border-radius: 3px;

      padding: 6px 8px;
    }

    /*google translate link | logo */

    .goog-te-gadget {
      color: transparent !important;
    }
    .goog-te-gadget .goog-te-combo {
      margin-left: 400px;
    }
    /* google translate banner-frame */

    .goog-te-banner-frame {
      display: none !important;
    }

    #goog-gt-tt,
    .goog-te-balloon-frame {
      display: none !important;
    }
    .goog-text-highlight {
      background: none !important;
      box-shadow: none !important;
    }

    body {
      top: 0 !important;
    }
  </style>
  <div id="google_translate_element"></div>
  <script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        {
          pageLanguage: "en",
          autoDisplay: "true",
          layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL,
        },
        "google_translate_element"
      );
    }
  </script>
  <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>

{% endblock content %}
